corrected_subtitles.srt
example_4k_video.mp4
styled_subtitles.ass
video_with_subtitles.mp4
archives/pysub.py
archives/pysubc2.py
archives/pysubcfondu.py
archives/pysubd.py
archives/pysube.py
archives/pysubpl.py
archives/pysubplus.py
archives/subtitle_corrector.py
piki.py
temp_audio.wav
PikiSubCreator2.py
highlighted_subtitles.ass
